body {
  font-family: Verdana, sans-serif;
  background-color: #f5f5f5;
}
/* header styling */
header {
  /* make header stick to top of webpage */
  position: sticky;
  top: 0;
  /* colorscheme */
  background: #ffffff;
  color: #2c3c5b;
}
.header-container {
  margin: 0 10%;
  display: flex;
  flex-flow: row wrap;
  /* justify-content: left; */
  /* align-items: flex-start; */
  align-content: space-between;
  box-sizing: border-box;
}
.header-title {
  box-sizing: border-box;
  border: 1px yellow dotted;
  width: 50%;
  min-height: 100%;
  /* box-sizing: border-box; */
  /* position: relative;
      padding:0 0; */
}
.header-title > img {
  max-height: 100%;
  max-width: 50%;
  box-sizing: border-box;
  position: absolute;
  bottom: 0;
  margin: 0 0;
}

.header-nav {
  border: 1px yellow dotted;
  width: 50%;
  align-self: flex-end;
  box-sizing: border-box;
}
.header-search {
  /* width:50%; */
  height: 50%;
  box-sizing: border-box;
}
.header-search form {
  display: flex;
}
.header-search input {
  display: inline;
  box-sizing: border-box;
  width: 70%;
  background-color: chartreuse;
  border: none;
  font-size: small;
  margin: 0 0;
}
.header-search button {
  box-sizing: border-box;
  width: 20%;
  background-color: pink;
  border: none;
}

.header-navBar ul {
  text-decoration: overline;
  list-style-type: none;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  padding: 8px 0px 2px 0px;
  margin: 0 0;
}

.header-navBar li {
  margin: 0 0;
  display: inline-block;
  align-self: flex-start;
  width: 34%;
  box-sizing: border-box;
  /* border:1px solid saddlebrown; */
}

.header-navBar a {
  text-decoration: overline;
  text-decoration: none;
  color: #2c3c5b;
}

.header-navBar li:hover {
  display: inline;
  background-color: rgba(10, 197, 168, 0.2);
  color: #ffffff;
  box-sizing: border-box;
  text-decoration: none;
}

main {
  /*properties related to the whole main section*/
  /* width: 100%; */
  font: helvetica;
  margin: 0 10%;
}

.main-nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #869cb8;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-nav li {
  float: left;
}

.main-nav li button {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background-color: #869cb8;
  font-size: larger;
  border: none;
}

.main-nav li button:hover {
  background-color: #5e738e;
}
.main-largeArticle {
  /*panoramic image and text*/
  width: 100%;
}

.mainimg {
  /* format panormaic image*/
  width: 100%;
}
.main-relatedProperties {
  /* flexbox to position adjacent images*/
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-relatedProperty {
  /* format the images and description text*/
  background-color: #869cb8;
  width: 30%;
  height: 70%;
}
.main-relatedProperty:hover {
  opacity: 0.75;
}

.main-relatedPropertytext {
  /* text underneath property images*/
  text-align: center;
  padding: 2px 6px;
  color: white;
  font-size: 80%;
}
.main-largetext {
  text-align: center;
}
/* footer styling */
footer {
  color: #2ab7ca;
  background: #465c69;
}
.footer-container {
  margin: 0 10%;
  background: #faff7f;
  border: 1px black solid;
  /* width:100%; */
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
  align-items: flex-start;
  align-content: space-between;
  box-sizing: border-box;
}
.footer-externalLinks {
  border: 1px yellow dotted;
  width: 30%;
  height: 100%;
  box-sizing: border-box;
}
.footer-contactForm {
  border: 1px yellow dotted;
  width: 70%;
  box-sizing: border-box;
  text-align: right;
}

/* Carousel CSS */

.carousel {
  background: #eaeaea;
  height: 100%;
}

.carousel-cell {
  width: 70%;
  height: 100%;
  /* flex-box, center image in cell */
  display: -webkit-box;
  display: -webkit-flex;
  /* display: flex; */
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.carousel-cell img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  /* dim unselected */
  opacity: 0.7;
  -webkit-transform: scale(0.85);
  transform: scale(0.85);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s, transform 0.3s,
    -webkit-filter 0.3s, filter 0.3s;
  transition: opacity 0.3s, transform 0.3s, filter 0.3s;
}

/* brighten selected image */
.carousel-cell.is-selected img {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-filter: none;
  filter: none;
}

@media screen and (min-width: 768px) {
  .carousel-cell {
    height: 100%;
  }
}

@media screen and (min-width: 960px) {
  .carousel-cell {
    width: 60%;
  }
}

/* buttons, no circle */
.flickity-prev-next-button {
  width: 60px;
  height: 60px;
  background: transparent;
  opacity: 0.6;
}
.flickity-prev-next-button:hover {
  background: transparent;
  opacity: 1;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: #2d8cff;
}
/* Date-Time*/
#date-time {
  font-size: 15px;
  color: #808080;
  padding: 10px;
  border: 1px solid rgba(224, 105, 105, 0.08);
  border-radius: 20px;
}
#date-time:hover {
  background-color: #0ac5a8;
  color: white;
  box-shadow: black;
}
